/* @layer reset, core, layout, modules, modifiers, darkmode, utilities, typography, themes, overrides; */

/* colors */
@gray:                                  oklch(0.501 0 0);
@yellowOrange:                          oklch(0.635 0.14 75);
@orangeRed:                             oklch(0.574 0.19 38);
@redPurple:                             oklch(0.493 0.215 352);
@purple:                                oklch(0.404 0.137 325);
@purpleBlue:                            oklch(0.405 0.13 285);
@blue:                                  oklch(0.405 0.105 260);
@blueGreen:                             oklch(0.482 0.112 194);
@greenYellow:                           oklch(0.625 0.15 109);

/* add extra themes */
@theme-ext-colors:                      gray yellowOrange orangeRed redPurple purple purpleBlue blue blueGreen greenYellow;

:root {
    --ui-dribbble-color: oklch(0.652 0.281 345);

    /* alerts */
    --ui-alerts-success: @greenYellow;
    --ui-alerts-warning: @yellowOrange;
    --ui-alerts-danger: @redPurple;
}