/* styles */

@import (reference) 'uilab/less/core/globals.less';
@import (reference) 'uilab/less/core/mixins.less';

/* profile */
@home-profile-cover-size:                 77px;
@home-profile-cover-margin-bottom:        5px;
@home-profile-activity-max-height:        206px;

.home-profile {
    & > div:first-child {
        margin-bottom: ((@home-profile-cover-size / 2) + @home-profile-cover-margin-bottom); position: relative;

        &,& > div { height: @home-profile-cover-size; }
        & > div {
            overflow: hidden; position: absolute; top: 0; left: 0;

            img { width: 100%; }
        }

        .ui-notifier { margin-top: (@home-profile-cover-size / 2); }
    }

    .ui-listgroup { max-height: @home-profile-activity-max-height; }
}

/* reports */
@home-reports-max-height:                 189px;
@home-reports-donut-size:                 48px;

.home-reports-list {
    .ui-listgroup { max-height: @home-reports-max-height; }
    .ui-donut-chart { width: @home-reports-donut-size; height: @home-reports-donut-size; }
}

/* people */
@home-people-max-height:                  235px;

.home-people-list {
    .ui-listgroup { max-height: @home-people-max-height; }
}

/* travel */
@home-travel-height:                      410px;
@home-travel-images-width-md:             377px;

@media (@default-finish) and (@default-start) {
    .home-travel { height: @home-travel-height; }
}
@media (@default-finish) and (@md-start) {
    .home-travel {
        .ui-col-st { width: @home-travel-images-width-md !important; }
    }
}

/* race */
@home-race-height:                        169px;

.home-race {
    img { height: @home-race-height !important; }
}

/* sales profits */
@sales-profits-height:                    395px;
@sales-profits-info-space:                10px;

.sales-profits {
    height: @sales-profits-height;

    .ui-line-chart-info { margin-top: @sales-profits-info-space; }
}