/* styles */

@import (reference) 'uilab/less/core/globals.less';
@import (reference) 'uilab/less/core/mixins.less';

/* profile */
@home-profile-cover-size:                 92px;
@home-profile-cover-margin-bottom:        5px;
@home-profile-activity-max-height:        186px;

.home-profile {
    & > div:first-child {
        margin-bottom: ((@home-profile-cover-size / 2) + @home-profile-cover-margin-bottom); position: relative;

        &,& > div { height: @home-profile-cover-size; }
        & > div {
            overflow: hidden; position: absolute; top: 0; left: 0;

            img { width: 100%; }
        }

        .ui-notifier { margin-top: (@home-profile-cover-size / 2); }
    }

    .ui-listgroup { max-height: @home-profile-activity-max-height; }
}

/* reports */
@home-reports-max-height:                 246px;
@home-reports-donut-size:                 48px;

.home-reports-list {
    .ui-listgroup { max-height: @home-reports-max-height; }
    .ui-donut-chart { width: @home-reports-donut-size; height: @home-reports-donut-size; }
}

/* people */
@home-people-max-height:                  221px;

.home-people-list {
    .ui-listgroup { max-height: @home-people-max-height; }
}