@import (reference) '@less/core/globals.less';
@import (reference) '@less/core/mixins.less';

@blog-archive-space:                      15px;
@blog-archive-img-width:                  160px;

@blog-post-image-space:                   45px;

.blog {
    &-archive {
        article {
            &:not(:first-child) {
                .ui-btn { padding: @blog-archive-space; margin-bottom: @blog-archive-space; }
            }
            &:first-child {
                .ui-btn { padding: (@blog-archive-space * 2); margin-bottom: (@blog-archive-space * 2); }
            }

            img {
                &:not(.ui-img-fluid) { width: @blog-archive-img-width; margin-right: @blog-archive-space; }
                &.ui-img-fluid { max-width: (@blog-archive-img-width * 4.5); margin: 0 auto @blog-archive-space auto; }
            }
        }
    }
    &-post {
        text-align: center;

        p { font-size: @font-18; text-align: left; }
        &-image {
            img { max-width: (@blog-archive-img-width * 4.5); margin: @blog-post-image-space auto (@blog-post-image-space / 2) auto; }
            figcaption { margin-bottom: @blog-post-image-space; }
        }
    }
}