@import (reference) 'uilab/less/core/globals.less';
@import (reference) 'uilab/less/core/mixins.less';

@iconslist-images-max-width:              800px;
@iconslist-btn-width:                     172px;
@iconslist-btn-padding:                   10px 0;
@iconslist-btn-margin:                    1px;

@iconslist-info-margin-t:                 5px;

.iconslist {
    &-images { max-width: @iconslist-images-max-width; }

    .ui-h2 { margin-top: 60px; margin-bottom: 20px; }
    .ui-btn-multi {
        min-width: @iconslist-btn-width; padding: @iconslist-btn-padding; margin: @iconslist-btn-margin;

        span { ._color-var(black-50); font-size: @font-13; margin-top: @iconslist-info-margin-t; display: block; }
    }
}