@import (reference) '@less/core/globals.less';
@import (reference) '@less/core/mixins.less';

/* preview */
@preview-text-align:                      center;
@preview-padding:                         150px 75px;
@preview-padding-sm:                      150px 10px;

@preview-bg:                            oklch(100% 0 0 / 1.5%);
@preview-bg-dark:                       oklch(47% 0.009 240 / 10%);

/* config */
@import '@lessconfig';

._page-vars () {
    --ui-dribbble-mode: var(--ui-dribbble-color);
    --ui-preview-bg: @preview-bg;
}
._page-vars-dark () {
    --ui-preview-bg: @preview-bg-dark;
    --ui-dribbble-mode: var(--ui-white);
}

._mode-vars(._page-vars(), ._page-vars-dark());

.color-dribbble { color: var(--ui-dribbble-color); }
.preview {
    background-color: var(--ui-body-bg); display: flow-root;

    &:not([class*="ui-align-"]) { text-align: @preview-text-align; }
}

@media (min-width: 768px) {
    .preview { padding: @preview-padding; }
}
@media (max-width: 767px) {
    .preview { padding: @preview-padding-sm; }
}